.users-list {
  width: 49.5%;
  .search-input{
    width: auto;
    height: auto;
    display: inline-block;
    padding: 2px 12px;
  }
}
.users-details{
  width: 49.5%;
}
.users-list .list-group,
.users-details .list-group  {
  position: relative;
  height: calc(100% - 41px);
  overflow: auto;
}